*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


*.pydevproject
.metadata
#bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.DS_Store
.settings/
.loadpath
ext-channel/
ext-accelerator/
ext-addon/
ext-commerce/
ext-content/
ext-data/
ext-platform/
ext-platform-optional/
ext-template/
ext-atdd/
ext-atddtests/
ext-backoffice/
ext-cockpit/
ext-deprecated/
ext-integration/
ext-print/
ext-supportability/
platform/
Development/Code/hybris/data/
temp/
licenses/
log/
eclipsebin/
RemoteSystemsTempFiles/

comm/hybris/data/

/**/hybris/bin/**/build.xml
/**/hybris/bin/**/ruleset.xml
/**/hybris/bin/**/classes/
/**/hybris/bin/**/extensioninfo.xsd
/**/hybris/bin/**/gensrc/
/**/hybris/bin/**/hmc/bin/
/**/hybris/bin/**/hmc/resources/hmc.xsd
/**/hybris/bin/**/platformhome.properties
/**/hybris/bin/**/resources/beans.xsd
/**/hybris/bin/**/resources/items.xsd
/**/hybris/bin/**/resources/**/*-testclasses.xml
/**/hybris/bin/**/resources/**/*-webtestclasses.xml
/**/hybris/bin/**/src/**/jalo/
/**/hybris/config/solr/

extensioninfo.xsd
platformhome.properties
build.xml
items.xsd
beans.xsd
addons

/**/hybris/bin/**/randomimageaddon/web/webroot/cockpit/
/**/hybris/bin/**/randomimageaddon/web/webroot/cscockpit/
/**/hybris/bin/**/randomimageaddon/web/webroot/cmscockpit/

/**/hybris/bin/**/giftstorefront/web/webroot/cockpit/
/**/hybris/bin/**/giftstorefront/web/webroot/cscockpit/
/**/hybris/bin/**/giftstorefront/web/webroot/cmscockpit/
/**/hybris/bin/**/giftstorefront/web/webroot/productcockpit/