*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


*.pydevproject
.metadata
#bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.DS_Store
.settings/
.loadpath
ext-channel/
ext-accelerator/
ext-addon/
ext-commerce/
ext-content/
ext-data/
ext-platform/
ext-platform-optional/
ext-template/
ext-atdd/
ext-atddtests/
ext-backoffice/
ext-cockpit/
ext-deprecated/
ext-integration/
ext-print/
ext-supportability/
platform/
Development/Code/hybris/data/
temp/
licenses/
log/
eclipsebin/
RemoteSystemsTempFiles/

config/
!config/local.properties
!config/localextensions.xml
!config/.classpath
comm/hybris/data/

